<%= render "sale_promotion_menu" %>
<%= render "sale_on_sale_promotions" %>

<script type="text/javascript">
	// function showUpdateButton(permalink){
	// 	$("#"+permalink).attr("disabled", "disabled");
	// 	if (permalink == "") {
	// 		alert("Sale Category's name can not be blank.");
	// 	}
	// 	else {
	// 		$.ajax({
	// 		    type: "POST",
	// 		    dataType: "json",
	// 		    url: "/sale_promotions"+permalink,
	// 		    data: {
	// 		    	"product": 
	// 		    	{
	// 		    		"name": permalink
	// 		    	}
	// 	    	},
	// 		   success: function(data){
	// 			 jQuery('.sale_category_id').append('<option value="'+data.id+'">'+data.name+'</option>');
	// 			 jQuery('.sale_category_id').val(data.id);
	// 			 //alert("DATA FROM SERVER: "+data.name);
	// 		    // here is where you process the return value from your controller method
	// 	        // the data variable will hold the return value if the call is successful
	// 	        // you can make your controller return the html to be inserted in your table
	// 	        // and insert it from here or just return a status message and build and add
	// 	        // the html manually here.
	//            },
	//            error: function(x){
	//              alert('There was a problem with the server. Please try again later');
	//            }
	// 		});
	// 	}
	// 	$(".create_sale_category_input").removeAttr("disabled");
	// 	removeNewSaleCategory();
	// 	return 0;
	// }
</script>